.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #E60022;
  color: white;
  font-weight: 500;
  cursor: pointer;
}
.button:hover {
  background-color: #d70121;
}