.modalWrapper {
  position: relative;
  display: flex;
  align-items: center;  
  flex-direction: column;
  padding: 20px 20px 35px 20px;
  background-color: white;
  width: 450px;
  border-radius: 20px;
  outline: none;
}
.closeIcon {
  position: absolute;
  top: 20px;
  right: 30px;
  padding-top: 3px;
  padding-left: 4px;
  height: 32px;
  width: 32px;
  border-radius: 50px;
  cursor: pointer;
}
.closeIcon:hover {
  background-color: #f0eeee;
}
.modalContent {
  width: 280px;
}
.modalTitle {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 28px;
  line-height: 32px;
  font-weight: 500;
}
.modalForm {
  margin-top: 20px;
}
.modalButton {
  margin-top: 20px;
  width: 280px;
  height: 40px;
}
.forgotPasswordText {
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  width: fit-content;
}
.forgotPasswordText:hover {
  color: #E60022;
}
.termsText {
  margin-top: 20px;
  margin-bottom: 14px;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  color: #767676;
}
.boldText {
  color: #111111;
}
.separatorLine {
  margin: 0 auto;
  height: 1px;
  width: 140px;
  background-color: #dedede;
}
.dontHaveAccount {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
.dontHaveAccount:hover {
  color: #E60022;
}
.logoIcon {
  color: #E60022;
  margin-top: 4px;
}
.modalIcon {
  display: flex;
  justify-content: center;
}
.textField {
  margin-bottom: 20px;
}