.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contentWrapper {
  margin-top: 20px;
}
.topWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.titleWrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.title {
  margin-right: 6px;
  font-size: 24px;
  font-weight: 500;
}
.titleBy {
  margin-top: 8px;
}
.titleArtist {
  margin-top: 4px;
  margin-left: 6px;
  font-size: 20px;
  font-weight: 500;
  width: fit-content;
  cursor: pointer;
  color: #136BB2;
}
.titleArtist:hover {
  text-decoration: underline;
}
.videoAndMainInfo {
  display: flex;
  flex-direction: row;
}
.videoRatingsWrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.mainInfoWrapper {
  margin-left: 20px;
}
.ratingTitle {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  color: rgb(52, 52, 52);
}
.ratingIconWrapper {
  display: flex;
  flex-direction: row;
}
.starIcon {
  margin-top: 3px;
  margin-right: 5px;
  font-size: 38px !important;
  color: #E60022;
}
.starIconBlue {
  font-size: 38px !important;
  color: #136BB2;
}
.ratingScoreAndNumberWrapper {
  display: flex;
  flex-direction: column;
}
.rating {
  display: flex;
  flex-direction: row;
  line-height: 18px;
}
.rateScore {
  margin-top: 1px;
  margin-right: 2px;
  font-size: 20px;
  font-weight: 500;
}
.fromTen {
  margin-top: 2px;
  margin-left: 2px;
}
.videoVotesNumber {
  margin-top: 2px;
  font-size: 13px;
  font-weight: 500;
}
.userRatingWrapper {
  margin-left: 30px;
}
.userRatingFlexRowWrapper {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.userRatingFlexRowWrapper:hover {
  background-color: aliceblue;
  border-radius: 10px;
}
.starOutlineIcon {
  margin-top: 3px;
  font-size: 38px !important;
  color: #136BB2;
}
.userRatingText {
  margin: 3px 2px 0px 5px;
  font-size: 20px;
  font-weight: 500;
}
.rateText {
  margin-top: 8px;
  margin-left: 5px;
  color: #136BB2;
  font-weight: 500;
}
.rateSlash {
  margin-top: 4px;
}
.fromTenUser {
  margin-top: 7px;
  margin-left: 2px;
}
.infoWrapper {
  padding: 10px;
  border: 1px solid rgb(187, 186, 186);
  border-radius: 10px;
}
.infoRow {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.infoBold {
  margin-right: 6px;
  font-weight: 500;
}
.linkText {
  color: #136BB2;
  cursor: pointer;
}
.linkText:hover {
  text-decoration: underline;
}
.label {
  margin-right: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid #136BB2;
  border-radius: 10px;
  color: #136BB2;
  cursor: pointer;
}
.label:hover {
  background-color: aliceblue;
}
.creditsSection {
  margin-top: 20px;
}
.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.editButton {
  margin-left: 10px;
  padding: 0px 10px 0px 10px;
  min-width: 100px;
  height: 30px;
  border: 1px solid #136BB2;
  background-color: #136BB2;
}
.editButton:hover {
  background-color: white;
  color: #136BB2;
}
.textField {
  margin-right: 10px;
  height: 60px;
}
.songInfo {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid rgb(187, 186, 186);
  border-radius: 10px;
}
.smallTitle {
  font-size: 18px;
  font-weight: 500;
}
.editDescriptionWrapper {
  width: 808px;
}
.textArea {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
}
.songDescription {
  max-width: 608px
}
.reviewWrapper {
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 10px;
  width: 808px;
  border: 1px solid rgb(187, 186, 186);
  border-radius: 10px;
}
.reviewHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
  padding-bottom: 5px;
  border-bottom:  1px solid rgb(215, 214, 214);
}
.reviewTitle {
  font-weight: 500;
}
.reviewInfo {
  color: rgb(105, 105, 105);
}
.userReviewWrapper {
  margin-bottom: 20px;
  border: 1px solid #136BB2;
}
.userReviewBottom {
  margin-bottom: 30px;
  border: 1px solid #136BB2;
}
.userReviewText {
  padding-bottom: 8px;
  border-bottom:  1px solid rgb(215, 214, 214);
}
.reviewButtonsWrapper {
  display: flex;
  flex-direction: row;
}
.reviewButton {
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  height: 25px;
  background-color: #136BB2;
  width: 152px;
}
.reviewButton:hover {
  background-color: white;
  color: #136BB2;
  border: 1px solid #136BB2;
}
.cancelReviewButton {
  margin-left: 10px;
}
.textFieldReview {
  height: 60px;
}

@media only screen and (max-width: 1000px) {
  .videoAndMainInfo {
    flex-direction: column;
  }
  .mainInfoWrapper {
    margin-top: 10px;
    margin-left: 0px;
  }
  .editDescriptionWrapper {
    width: 600px;
  }
  .reviewWrapper {
    width: 600px;
  }
}