.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topContent {
  display: flex;
  flex-direction: row;
}

.slideWrapper {
  width: 1000px;
}

.slideImage {
  display: block;
  width: 1000px;
  height: 500px;
}

.topContentRight {
  margin-left: 15px;
  padding: 20px;
  background-color: white;
  border: 2px solid #E60022;
  border-radius: 10px;
  width: 300px;
}