.root {
  margin: 0 auto;
  width: 600px;
}
.contentWrapper {
  padding: 20px;
  border: 1px solid rgb(187, 186, 186);
  border-radius: 20px;
}
.title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}